@inject HttpClient http

@page "/debug"

<h3>Debug</h3>
@*Add button that calls API route to reset all quests*@
<button class="btn btn-primary" @onclick="ResetQuests">Reset Quests</button>

@code {
    private async Task ResetQuests()
    {
        await http.PostAsJsonAsync("api/Quests/reset", true);
    }
}
