@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using QuestGiver.Shared.Models;

@page "/"
<PageTitle>Quests</PageTitle>

<h1>Hello, world!</h1>
@*<img src="https://www.akc.org/wp-content/uploads/2017/11/Rottweiler-puppy-6-weeks-old-sitting-on-a-white-background.jpg" />*@

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Featured
    </div>
    <ul class="list-group list-group-flush">
        @if (quests != null)
        {
            foreach (var quest in quests)
            {
                if (quest != null)
                {
                    <li class="list-group-item">@quest.Name</li>
                }
            }
        }
    </ul>
</div>

@code {

  private Quest[]? quests;

    protected override async Task OnInitializedAsync() =>
          quests = await Http.GetFromJsonAsync<Quest[]>("api/quests");
}