body {
	font-family: 'Arial', sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

.profile-section,
.login-section {
	background-color: #ffffff;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 600px;
}

.profile-header,
.profile-footer,
.quest-section,
.quest-info,
.quest-actions,
.no-quest-info,
.login-buttons {
	margin-bottom: 20px;
}

@media (max-width: 600px) {
	.quest-actions button {
		margin-bottom: 25px;
		display: block; 
		width: 100%;
	}
}

.profile-header {
	text-align: center;
}

	.profile-header img.wizard {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		margin-top: 10px;
	}

.quest-section {
	background-color: #f9f9f9;
	padding: 15px;
	border-radius: 5px;
}

.quest-info p,
.no-quest-info {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
}

	.quest-actions button,
	.no-quest-info button,
	.login-buttons button {
		margin-right: 10px; /* Space between buttons */
	}

.login-section p.who-goes-there-text {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px;
}

.progress-bar {
	background-color: #e0e0e0;
	border-radius: 5px;
	height: 20px;
	overflow: hidden;
}

	.progress-bar span {
		display: block;
		height: 100%;
		background-color: #76c7c0;
	}
