@* @using Microsoft.AspNetCore.Components.Forms

<h3>OneTimeQuestInput</h3>
<EditForm>
	<div class="form-group">
		<label for="favoriteLanguage">Favorite Language:</label>
		  <InputSelect>
			  <option value="1">Easy</option>
			  <option value="2">Medium</option>
			  <option value="3">Hard</option>
		  </InputSelect>
	</div>

</EditForm>


@code {

}
 *@