@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    @*<a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>*@

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            @if(selectedOption != null)
            {
                <li class="nav-item">
                    <a class="nav-link text-light" href="/wizard">Wizard</a>
                </li>
            }
        </ul>
        <div class="px-3">
            <input type="radio" class="form-check-input" id="option1" name="options" value="CJ" checked="@("CJ" == selectedOption)" @onchange="HandlePersonSelection" />
            <label for="option1">CJ</label>
        </div>
        <div class="px-3">
            <input type="radio" class="form-check-input" id="option2" name="options" value="Kyle" checked="@("Kyle" == selectedOption)" @onchange="HandlePersonSelection" />
            <label for="option2">Kyle</label>
        </div>
    </div>
</nav>

@code {
    private string selectedOption;

    private void HandlePersonSelection(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();

        sessionStorage.SetItem("person", selectedOption);

        Console.WriteLine(sessionStorage.GetItem<string>("person"));
    }
}
```